#container {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 200px;
    background-color: brown;
}

#container div{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    flex-basis: 20px;
    
    
}