#container{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px ;
    width: 100%;
    grid-gap: 15px;
    background-color: darkcyan;
}

.nav{
    display: grid;
    background-color: aquamarine;
    border-radius: 10px;
}

.heater{
    display: grid;
    border-radius: 10px;
    background-color: chartreuse;
}

.article{
    display: grid;
    border-radius: 10px;
    background-color: coral;
}

.aside{
    display: grid;
    border-radius: 10px;
    background-color: gold;
}

.footer{
    display: grid;
    flex-direction: column;
    border-radius: 10px;
    background-color: crimson;
}
